<div class="container">
  <div class="jumbotron mt-5 mx-5">
    <h1 class="display-4">Hello readers!</h1>
    <p class="lead">This is a simple library web app built on Google's Angular application platform</p>
    <hr class="mb-4">
    <p>Technologies used:</p>
    <ul class="list-group col-sm col col-lg-5">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Angular
        <span class="badge badge-info badge-pill">v6.0.2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Bootstrap
        <span class="badge badge-info badge-pill">v4.1.3</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        RxJS
        <span class="badge badge-info badge-pill">v6.0.0</span>
      </li>
    </ul>
  </div>
</div>
