@import "../edit-book/edit-book.component";

.alert-warning {
  width: 23rem;
}

.cover-input-group {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      &.file-selected {
        color: #17a2b8;
        background-color: #fff;
      }
      & * {
        pointer-events: none;
      }
    }
    &.ng-invalid {
      border-left: 5px solid #dc3545;
    }
  }
}
