@import "../edit-book/edit-book.component";

.alert-warning {
  width: 23rem;
  position: absolute;
  opacity: 0;
  &:hover {
    cursor: default;
  }
  &.showing {
    position: static;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
