<div class="modal-header">
  <h4 class="modal-title">Delete Book</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span>Are you sure you want to delete <strong>{{book.title}}</strong>?</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onConfirmDeleteBook(book.id)">Confirm</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Cancel</button>
</div>
